<!-- image and logo -->
<div class="between-img-div">
    <img src="https://raw.githubusercontent.com/Chinemereem/Netflix-clone/master/images/between-1.webp"
        class="between-img" alt="">
</div>
<div class="logo-and-text">
    <div class="titleWrapper"
        style="transform-origin: left bottom; transform: scale(1) translate3d(0px, 0px, 0px); transition-duration: 1300ms; transition-delay: 0ms;">
        <div class="billboard-title">
            <img class="title-logo"
                src="https://raw.githubusercontent.com/Chinemereem/Netflix-clone/master/images/netflixsvg.webp"
                title="Between" alt="Between">
        </div>
    </div>
    <div class="info-wrapper"
        style="transform: translate3d(0px, 0px, 0px); transition-duration: 1300ms; transition-delay: 0ms; opacity: 1;">
        <div class="info-wrapper-fade" style="opacity: 1; transition-duration: 600ms; transition-delay: 200ms;">
            <div class="series-synopsis">After a mysterious disease kills every resident over 21 years old,<br>
                survivors of a town must fend for<br> themselves when the government quarantines them.</div>
        </div>
        <button class="color-primary" tabindex="-1" type="button">
            <div class="ltr-1ksxkn9">
                <div class="medium ltr-dguo2f" role="presentation">
                    <svg class="svg-radius" viewBox="0 0 24 24">
                        <path d="M6 4l15 8-15 8z" fill="currentColor"></path>
                    </svg>
                </div>
            </div>
            <div class="just-div" style="width:1rem"></div>
            <span class="info-btn">Play</span>
        </button></a>
        <button class="button-secondary" type="button">
            <div class="ltr">
                <div class="medium"><svg class="svg-radius" viewBox="0 0 24 24">
                        <path
                            d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10zm-2 0a8 8 0 0 0-8-8 8 8 0 0 0-8 8 8 8 0 0 0 8 8 8 8 0 0 0 8-8zm-9 6v-7h2v7h-2zm1-8.75a1.21 1.21 0 0 1-.877-.364A1.188 1.188 0 0 1 10.75 8c0-.348.123-.644.372-.886.247-.242.54-.364.878-.364.337 0 .63.122.877.364.248.242.373.538.373.886s-.124.644-.373.886A1.21 1.21 0 0 1 12 9.25z"
                            fill="currentColor">
                        </path>
                    </svg></div>
            </div>
            <div class="more-info" style="width:1rem"></div>
            <span class="info-btn">More Info</span>
        </button>
    </div>
</div>

<!-- rating -->
<div class="ratin-div" style="float: right;">
    <button aria-label="Replay" class="color-supplementary" type="button">
        <div class="small-div">
            <svg class="style-svg" viewBox="0 0 24 24">
                <path
                    d="M20 12.35l1.919-1.371 1.162 1.627-4.08 2.915-4.082-2.915 1.162-1.627L18 12.349V12c0-3.87-3.13-7-7-7s-7 3.13-7 7 3.13 7 7 7c1.93 0 3.68-.79 4.94-2.06l1.42 1.42A8.954 8.954 0 0 1 11 21a9 9 0 1 1 9-9v.35z"
                    fill="currentColor">
                </path>
            </svg>
        </div>
    </button>
    <span class="rating">
        <span class="maturity-number">16+</span>
    </span>
</div>

<!-- drama collection end -->