


    <!-- Nav heading -->
    <div class="fixed-div">
        <div class="parent-div">
            <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/netflix%20logo.png?raw=true"
                alt="netflix img" class="logo">
            <div class="dropdown">
                <span class="browse-el">Browse</span>
                <div class="dropdown-content">
                    <p><a href='/'>view Movies</a></p>
                    <p><a href='/add'>Add Movies</a></p>
                </div>
            </div>
        </div>
        <!-- notification nav -->
        <div class="float-op" style="float: right;">
            <div class="search"></div>
        </div>
        <div class="dropdown2" style="float:right;">
            <div class="dropbtn"></div>
            <div class="dropdown-content2">
                <div class="span-style"></div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/13reason-why.jpeg?raw=true"
                        alt="">
                    <p>Countinue Watching<br>
                        13 Reasons Why<br>
                        <span style="color:#2D2D2D">Today</span>
                    </p>
                </div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/after-life.jpeg?raw=true"
                        alt="">
                    <p>🛎 Reminder: New Arrival<br>
                        Afterlife Of The Party<br>
                        <span style="color:#2D2D2D">1 day ago</span>
                    </p>
                </div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/control-zz.jpeg?raw=true"
                        alt="">
                    <p>🛎 Reminder: New Season<br>
                        Season 2 is ready to watch.<br>
                        <span style="color:#2D2D2D">1 day ago</span>
                    </p>
                </div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/csInapp_112x63.png?raw=true"
                        alt="">
                    <p>Netflix Lookahead<br>
                        Explore what's coming soon<br>
                        <span style="color:#2D2D2D">1 day ago</span>
                    </p>
                </div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/ijee.jpeg?raw=true"
                        alt="">
                    <p>🛎 Reminder: New Arrival<br>
                        Out Of My League<br>
                        <span style="color:#2D2D2D">5 days ago</span>
                    </p>
                </div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/monster-hunt.jpeg?raw=true"
                        alt="">
                    <p>🛎 Reminder: New Arrival<br>
                        Monster Hunt<br>
                        <span style="color:#2D2D2D">2 days ago</span>
                    </p>
                </div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/vivo.jpeg?raw=true"
                        alt="">
                    <p>New Arrival<br>
                        Vivo<br>
                        <span style="color:#2D2D2D">3 weeks ago</span>
                    </p>
                </div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/out-of-my-league.jpeg?raw=true"
                        alt="">
                    <p>🛎 Reminder: New Arrival<br>
                        Ije The Journey<br>
                        <span style="color:#2D2D2D">2 days ago</span>
                    </p>
                </div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/csInapp_112x63.png?raw=true"
                        alt="">
                    <p>Netflix Lookahead<br>
                        Explore what's coming soon<br>
                        <span style="color:#2D2D2D">1 day ago</span>
                    </p>
                </div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/resort-to-love.jpeg?raw=true"
                        alt="">
                    <p>Reminder:New Arrival<br>
                        Resort to love<br>
                        <span style="color:#2D2D2D">1 day ago</span>
                    </p>
                </div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/kissin-booth.jpeg?raw=true"
                        alt="">
                    <p>🛎 Reminder: New Arrival<br>
                        Kissing Booth 3<br>
                        <span style="color:#2D2D2D">1 day ago</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="user-img" style="float: right;">
            <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/user.png?raw=true" alt="">
            <span class="span-icon"></span>
        </div>
    </div>

</body>
